{% extends 'layout.html' %}

{% block title %}
    Delete user
{% endblock %}

{% block main %}
    <form action="/delete" method="post">
        <div class="form-group">
            <input autofocus='on' autocomplete='off' class="form-control" name="username" placeholder="username" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Delete Account?</button>
        <p style='color:red;font-size:30px'>
            WARNING: Liquify your portfolio before deletion, otherwise we will claim all assets
        </p>
    </form>

{% endblock %}